### 0. Installing necessary libraries

In [1]:
import os
import numpy as np
import pandas as pd
from skimpy import skim
from sklearn.model_selection import train_test_split

### 1. Getting the dataset

In [2]:
project_dir = r'C:\Users\Akanksha\Flight_Price_Prediction'
data_dir = 'data'

def reading_csv(filename):
    csv_path = os.path.join(project_dir, data_dir, filename)
    return pd.read_csv(csv_path)

df = reading_csv('flight_price.csv')
print(df.shape)
df.head()

(10683, 11)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

### 2. Exploring the data

In [3]:
skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 10683  │ │ string      │ 10    │                                                          │
│ │ Number of columns │ 11     │ │ int32       │ 1     │                                                          │
│ └───────────────────┴────────┘ └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column_name     ┃ NA   ┃ NA %   ┃ mean   ┃ sd     ┃ p0     ┃ p25    ┃ p50    ┃ p75     ┃ p100    ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━┩  │
│ │ Price           │    0 │      0 │   9100 │   4600 │   1800 │   5300 │   8400 │   12000 │   80000 │   ▇▁    │  │
│ └─────────────────┴──────┴────────┴────────┴────────┴────────┴────────┴────────┴─────────┴─────────┴─────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name                     ┃ NA     ┃ NA %       ┃ words per row              ┃ total words           ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ Airline                         │      0 │          0 │                        1.7 │                 17856 │  │
│ │ Date_of_Journey                 │      0 │          0 │                          1 │                 10683 │  │
│ │ Source                          │      0 │          0 │                          1 │                 10683 │  │
│ │ Destination                     │      0 │          0 │                        1.1 │                 11615 │  │
│ │ Route                           │      1 │       0.01 │                        4.6 │                 49654 │  │
│ │ Dep_Time                        │      0 │          0 │                          1 │                 10683 │  │
│ │ Arrival_Time                    │      0 │          0 │                        1.8 │                 19353 │  │
│ │ Duration                        │      0 │          0 │                        1.9 │                 20334 │  │
│ │ Total_Stops                     │      1 │       0.01 │                        1.7 │                 17873 │  │
│ │ Additional_Info                 │      0 │          0 │                        2.4 │                 25991 │  │
│ └─────────────────────────────────┴────────┴────────────┴────────────────────────────┴───────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

In [4]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [5]:
df.duplicated().any(), df.duplicated().sum()

(True, 220)

### 3. Important Data Observations

- Date_of_Journey, Dep_Time and Arrival_Time columns should have datetime format.
- Dep_Time column has to be in time format.
- Arrival_Time column has some invalid entries. It needs to be cleaned.
- Duration could simply be represented in minutes instead of 'X hr Y min' format.
- Total_Stops and layovers columns should be integers.
- Route is redundant, as we have Total_Stops column.

### 4. Detailed Analysis

#### Airline

In [6]:
df.Airline.unique(), df.Airline.value_counts()

(array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
        'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
        'Vistara Premium economy', 'Jet Airways Business',
        'Multiple carriers Premium economy', 'Trujet'], dtype=object),
 Airline
 Jet Airways                          3849
 IndiGo                               2053
 Air India                            1752
 Multiple carriers                    1196
 SpiceJet                              818
 Vistara                               479
 Air Asia                              319
 GoAir                                 194
 Multiple carriers Premium economy      13
 Jet Airways Business                    6
 Vistara Premium economy                 3
 Trujet                                  1
 Name: count, dtype: int64)

- Some airlines have multiple names, let's correct them.

In [7]:
(
    df
    .Airline
    .str.strip()
    .replace(
        {'Multiple carriers Premium economy' : 'Multiple Carriers',
         'Multiple carriers' : 'Multiple Carriers',
         'Jet Airways Business' : 'Jet Airways',
         'Vistara Premium economy' : 'Vistara'})
    .unique()
)

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple Carriers', 'GoAir', 'Vistara', 'Air Asia', 'Trujet'],
      dtype=object)

#### Date_of_Journey

In [8]:
pd.to_datetime(df.Date_of_Journey, format='%d/%m/%Y')

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10683, dtype: datetime64[ns]

#### Source and Destination

In [9]:
df.Source.unique(), df.Destination.unique()

(array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object),
 array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
       dtype=object))

#### Dep_Time

In [10]:
(
    df
    .Dep_Time
    .loc[lambda char: char.str.contains("[^0-9:]")]
)

Series([], Name: Dep_Time, dtype: object)

In [11]:
pd.to_datetime(df.Dep_Time, format='%H:%M') , pd.to_datetime(df.Dep_Time, format="%H:%M").dt.time

(0       1900-01-01 22:20:00
 1       1900-01-01 05:50:00
 2       1900-01-01 09:25:00
 3       1900-01-01 18:05:00
 4       1900-01-01 16:50:00
                 ...
 10678   1900-01-01 19:55:00
 10679   1900-01-01 20:45:00
 10680   1900-01-01 08:20:00
 10681   1900-01-01 11:30:00
 10682   1900-01-01 10:55:00
 Name: Dep_Time, Length: 10683, dtype: datetime64[ns],
 0        22:20:00
 1        05:50:00
 2        09:25:00
 3        18:05:00
 4        16:50:00
            ...
 10678    19:55:00
 10679    20:45:00
 10680    08:20:00
 10681    11:30:00
 10682    10:55:00
 Name: Dep_Time, Length: 10683, dtype: object)

#### Arrival_Time

In [12]:
(
    df
    .Arrival_Time
    .loc[lambda char: char.str.contains("[^0-9:]")]
    .str.split(' ', n=1)
    .str.get(1)
    .unique()
)

array(['22 Mar', '10 Jun', '13 Mar', '02 Mar', '10 May', '04 Mar',
       '13 Jun', '28 May', '19 Mar', '07 May', '02 Jun', '16 Jun',
       '19 May', '16 May', '28 Jun', '02 May', '28 Mar', '19 Jun',
       '04 Apr', '25 Mar', '07 Mar', '25 Jun', '07 Jun', '25 May',
       '13 May', '16 Mar', '22 May', '10 Apr', '04 Jun', '20 May',
       '28 Apr', '25 Apr', '10 Mar', '19 Apr', '13 Apr', '02 Apr',
       '23 Mar', '22 Apr', '11 May', '07 Apr', '03 May', '08 Mar',
       '03 Mar', '05 Mar', '22 Jun', '04 May', '26 May', '16 Apr',
       '26 Jun', '29 May', '29 Jun', '29 Mar', '23 May', '17 Jun'],
      dtype=object)

In [13]:
pd.to_datetime(df.Arrival_Time).dt.time

C:\Users\Akanksha\AppData\Local\Temp\ipykernel_11828\4055714566.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df.Arrival_Time).dt.time

0        01:10:00
1        13:15:00
2        04:25:00
3        23:30:00
4        21:35:00
           ...
10678    22:25:00
10679    23:20:00
10680    11:20:00
10681    14:10:00
10682    19:15:00
Name: Arrival_Time, Length: 10683, dtype: object

#### Duration

In [14]:
(
    df
    .Duration
    .loc[lambda char: ~char.str.contains("h")]
)

6474    5m
Name: Duration, dtype: object

In [15]:
df.iloc[[6474]]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6474,Air India,6/03/2019,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,16:50,16:55,5m,2 stops,No info,17327

- It definitely does not correspond to a real scenario and is an error. Hence, we must remove it.

In [16]:
pd.to_timedelta(df.Duration), pd.to_timedelta(df.Duration).dt.total_seconds() / 60

(0       0 days 02:50:00
 1       0 days 07:25:00
 2       0 days 19:00:00
 3       0 days 05:25:00
 4       0 days 04:45:00
               ...
 10678   0 days 02:30:00
 10679   0 days 02:35:00
 10680   0 days 03:00:00
 10681   0 days 02:40:00
 10682   0 days 08:20:00
 Name: Duration, Length: 10683, dtype: timedelta64[ns],
 0         170.0
 1         445.0
 2        1140.0
 3         325.0
 4         285.0
           ...
 10678     150.0
 10679     155.0
 10680     180.0
 10681     160.0
 10682     500.0
 Name: Duration, Length: 10683, dtype: float64)

#### Total_Stops

In [17]:
df.Total_Stops.unique(), df.Total_Stops.value_counts()

(array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
       dtype=object),
 Total_Stops
 1 stop      5625
 non-stop    3491
 2 stops     1520
 3 stops       45
 4 stops        1
 Name: count, dtype: int64)

In [18]:
(
    df
    .Total_Stops
    .str.replace('non-stop', '0')
    .str.replace(" stops?", "", regex=True)
    .pipe(lambda ser: pd.to_numeric(ser))
    
)

0        0.0
1        2.0
2        2.0
3        1.0
4        1.0
        ...
10678    0.0
10679    0.0
10680    0.0
10681    0.0
10682    2.0
Name: Total_Stops, Length: 10683, dtype: float64

In [19]:
df[df['Total_Stops'].isnull()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25 07 May,23h 40m,NaN,No info,7480

#### Additional_Info

In [20]:
df.Additional_Info.unique(), df.Additional_Info.value_counts()

(array(['No info', 'In-flight meal not included',
        'No check-in baggage included', '1 Short layover', 'No Info',
        '1 Long layover', 'Change airports', 'Business class',
        'Red-eye flight', '2 Long layover'], dtype=object),
 Additional_Info
 No info                         8345
 In-flight meal not included     1982
 No check-in baggage included     320
 1 Long layover                    19
 Change airports                    7
 Business class                     4
 No Info                            3
 1 Short layover                    1
 Red-eye flight                     1
 2 Long layover                     1
 Name: count, dtype: int64)

In [21]:
(
    df
    .Additional_Info
    .replace({'No info': 'No Info'})
)

0        No Info
1        No Info
2        No Info
3        No Info
4        No Info
          ...
10678    No Info
10679    No Info
10680    No Info
10681    No Info
10682    No Info
Name: Additional_Info, Length: 10683, dtype: object

### 5. Cleaning the Data

In [30]:
def clean_data(data_frame):
    return (
        df
        .drop(index=[6474, 9039])
        .drop_duplicates()
        .assign(**{
            col : df[col].str.strip() for col in df.select_dtypes(include='O').columns
        })
        .assign(
            Airline = lambda df_ : (
                df_
                .Airline
                .replace(
                    {'Multiple carriers Premium economy' : 'Multiple Carriers',
                    'Multiple carriers' : 'Multiple Carriers',
                    'Jet Airways Business' : 'Jet Airways',
                    'Vistara Premium economy' : 'Vistara'})
                ),
            Date_of_Journey = lambda df_ : pd.to_datetime(df_['Date_of_Journey'], format='%d/%m/%Y'),
            Dep_Time = lambda df_ : pd.to_datetime(df_['Dep_Time'], format='%H:%M').dt.time,
            Arrival_Time = lambda df_ : pd.to_datetime(df_.Arrival_Time).dt.time,
            Duration = lambda df_ : pd.to_timedelta(df.Duration).dt.total_seconds() / 60,
            Total_Stops = lambda df_ : (
                df_
                .Total_Stops
                .str.replace('non-stop', '0')
                .str.replace(" stops?", "", regex=True)
                .astype(int)
                    ),
            Additional_Info=lambda df_: (
                df_
                .Additional_Info
                .replace("No info", "No Info")
            )
        )
        .drop(columns=['Route'])
    )

In [31]:
final_flights_df = clean_data(df)
final_flights_df

C:\Users\Akanksha\AppData\Local\Temp\ipykernel_11828\3266390937.py:21: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Arrival_Time = lambda df_ : pd.to_datetime(df_.Arrival_Time).dt.time,

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20:00,01:10:00,170.0,0,No Info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445.0,2,No Info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140.0,2,No Info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325.0,1,No Info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50:00,21:35:00,285.0,1,No Info,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55:00,22:25:00,150.0,0,No Info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,20:45:00,23:20:00,155.0,0,No Info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20:00,11:20:00,180.0,0,No Info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30:00,14:10:00,160.0,0,No Info,12648
10682,Air India,2019-05-09,Delhi,Cochin,10:55:00,19:15:00,500.0,2,No Info,11753

### 6. Splitting the Dataset

In [32]:
X = final_flights_df.drop(columns=['Price'])
y = final_flights_df['Price']

In [33]:
X_, X_test, y_, y_test = train_test_split(X, y, test_size=0.2, random_state=37)
X_train, X_val, y_train, y_val = train_test_split(X_, y_, test_size=0.2, random_state=37)

print(X_train.shape, X_val.shape, X_test.shape)
print(y_train.shape, y_val.shape, y_test.shape)

(6694, 9) (1674, 9) (2093, 9)
(6694,) (1674,) (2093,)

### 7. Export the Dataset

In [34]:
def export_file(X, y, name):
    filename = f'{name}.csv'
    filepath = os.path.join(project_dir, data_dir, filename)
    X.join(y).to_csv(filepath, index=False)
    return pd.read_csv(filepath).head()

In [35]:
export_file(X_train, y_train, 'train')

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,SpiceJet,2019-05-24,Banglore,Delhi,21:10:00,00:05:00,175.0,0,No Info,3971
1,IndiGo,2019-04-12,Banglore,Delhi,18:55:00,21:50:00,175.0,0,No Info,5780
2,IndiGo,2019-05-03,Chennai,Kolkata,11:35:00,14:00:00,145.0,0,No Info,4332
3,Multiple Carriers,2019-06-27,Delhi,Cochin,07:00:00,19:00:00,720.0,1,No Info,12192
4,Jet Airways,2019-05-21,Kolkata,Banglore,06:30:00,16:20:00,590.0,1,No Info,14781

In [36]:
export_file(X_val, y_val, 'val')

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-04-12,Banglore,Delhi,07:10:00,10:05:00,175.0,0,No Info,4823
1,Air India,2019-05-21,Kolkata,Banglore,09:25:00,13:45:00,1700.0,2,No Info,11542
2,Air India,2019-06-24,Delhi,Cochin,09:45:00,09:25:00,1420.0,2,No Info,10975
3,Jet Airways,2019-06-12,Delhi,Cochin,09:35:00,04:25:00,1130.0,2,No Info,13292
4,IndiGo,2019-03-09,Banglore,New Delhi,16:55:00,19:45:00,170.0,0,No Info,10067

In [37]:
export_file(X_test, y_test, 'test')

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,2019-06-09,Delhi,Cochin,05:30:00,04:25:00,1375.0,2,No Info,13014
1,SpiceJet,2019-06-24,Kolkata,Banglore,22:20:00,00:40:00,140.0,0,No check-in baggage included,3841
2,Air Asia,2019-04-18,Banglore,Delhi,04:55:00,07:45:00,170.0,0,No Info,4282
3,Air India,2019-04-09,Delhi,Cochin,17:15:00,07:40:00,865.0,2,No Info,8052
4,Jet Airways,2019-06-12,Kolkata,Banglore,14:05:00,18:15:00,1690.0,1,In-flight meal not included,8529